body {
  background-image: url("../image/lights.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-width: 300px;
}

/* CARDS */

#current-episode {
  background-image: url("../image/1.jpeg");
  background-position: 60% 60%;
  background-size: cover;
}

#next-episode {
  background-image: url("../image/children2.jpg");
}

#human-body {
  background-image: url("../image/3.jpeg");
}

#insects {
  background-image: url("../image/chem.jpeg");
}

#craft {
  background-image: url("../image/4.jpg");
}

#universe {
  background-image: url("../image/children3.jpg");
}

#space {
  background-image: url("../image/7.jpg");
}

#universe-2 {
  background-image: url("../image/galaxy.jpg");
}

.drop {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  overflow: hidden;
  opacity: 0;
  border-radius: 5px;
}

.card-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.drop-text {
  text-align: center;
  width: 100%;
  padding: 0;
  color: white;
  text-shadow: 1px 2px 3px yellow;
  font-weight: bold;
  font-size: auto;
  overflow: hidden;
  margin-bottom: 15%;
}

.main-display__card {
  font-family: "Monda", sans-serif;
  letter-spacing: 0.3em;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  margin-bottom: 3%;
}

.main-display__card:hover .drop {
  opacity: 1;
  transition: 0.5s;
}

.main-display__headline {
  font-family: inherit;
  width: 100%;
  min-height: 27%;
  position: absolute;
  bottom: 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 23px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.main-display__headline a {
  color: #fff;
  text-shadow: 1px 2px 2px #000;
}

/* HIDDEN CARD FOR DESKTOP */
.hidden {
  display: none;
}

.main-display__card .fa-thumbs-up {
  margin: 0 0 1% 0;
  font-size: 0.6em;
  color: #fed700;
}

section:nth-child(even) .main-display__headline {
  background: #71ba01;
}

.main-display__card:nth-child(even) {
  border: 5px #70ba01 solid;
}

section:nth-child(odd) .main-display__headline {
  background: #946db0;
}

.main-display__card:nth-child(odd) {
  border: 5px #946db0 solid;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

#loader,
.btn-fancy {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: relative;
  outline: none;
  border: none;
  padding: 1em;
  text-decoration: none;
  margin: 0 auto;
  width: 400px;
  cursor: pointer;
  height: 55px;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

#loader:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

#loader {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

@media only screen and (min-width: 1em) and (max-width: 40em) {
  .wrapper {
    width: 94%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* BODY - CARDS */
  .main-display__card {
    height: 300px;
  }

  .main-display__card:nth-child(1) {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 40.001em) and (max-width: 59.999em) {
  body {
    overflow-x: hidden;
  }

  /* CONTENT */

  .wrapper {
    width: 95%;
    margin: 10% auto 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container > section {
    flex: 0 46%;
    height: 300px;
    min-width: auto;
  }

  section:nth-child(3) .main-display__headline {
    background: #71ba01 !important;
  }

  .main-display__card:nth-child(3) {
    border: 5px #71ba01 solid !important;
  }

  section:nth-child(4) .main-display__headline {
    background: #946db0 !important;
  }

  .main-display__card:nth-child(4) {
    border: 5px #946db0 solid !important;
  }
}

@media only screen and (min-width: 60em) {
  .hidden {
    display: block;
  }

  .wrapper {
    width: 90%;
  }

  .container {
    margin-top: 8em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: row;
    grid-gap: 20px;
  }

  .main-display__card {
    height: 350px;
  }

  .main-display__headline {
    overflow: hidden;
    min-height: 15%;
    font-weight: 100;
    line-height: 25px;
  }

  #loader {
    display: none;
  }

  #current-episode {
    grid-column: 1/5;
  }

  #next-episode {
    grid-column: 1/3;
  }

  #human-body {
    grid-row: 3/4;
    grid-column: 3/5;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  #insects {
    grid-column: 3/5;
  }

  #craft {
    grid-column: 1/3;
  }

  #universe {
    grid-column: 1/3;
  }
  #universe-2 {
    grid-column: 1/5;
  }

  #space {
    grid-column: 3/5;
  }
}
