@import url("https://fonts.googleapis.com/css?family=Monda|Orbitron:400,500,700|Russo+One");
@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan");
* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  background-image: none;
  background-color: #fff;
}

section.heading {
  background-color: #fcb913;
  height: 300px;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

.space-holder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.space-holder > div {
  border-radius: 50%;
  background-color: #faa519;
}

.space-holder i {
  color: #fff;
  text-shadow: 3px 3px 10px #777;
}

.space-holder > div:nth-child(2) {
  background-color: #bfd731;
}
.space-holder > div:nth-child(3) {
  background-color: #8f1292;
}

.space-holder > div:nth-child(4) {
  background-color: #077dc2;
}

section.heading h1 {
  color: #fff;
  position: relative;
  top: 50%;
  font-family: "Orbitron", cursive;
  font-size: 2.3em;
  text-shadow: 4px 4px 12px #f46f24;
}

.slideshow-container {
  position: relative;
  margin: auto;
  font-family: "Baloo Chettan", cursive;
}

.slideshow-container img {
  object-fit: cover;
  overflow: hidden;
}

.mySlides img {
  width: 100%;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0.3;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(107, 107, 107, 0.8);
  opacity: 1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.episodes-container {
  display: flex;
  flex-direction: column;
  font-family: "Monda", sans-serif;
}

.episodes-container > h1 {
  border-bottom: 2px solid #000;
  color: #f46f24;
  font-size: 2em;
  font-family: "Baloo Chettan", cursive;
  padding-left: 0.5em;
}

.video.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card-video {
  flex: auto 1 1;
  overflow: hidden;
  width: 300px;
  height: 300px;
  padding: 0;
  border-radius: 20px;
  position: relative;
  margin: 1%;
}
.card-video img {
  object-fit: cover;
  overflow: hidden;
}

.video-space {
  border: 4px solid #002f80;
  background-color: #002f80;
  color: #fff;
  text-shadow: 1px 2px 5px #000;
}

.video-insects {
  border: 4px solid #43bb84;
  background-color: #43bb84;
  color: #fff;
  text-shadow: 1px 2px 5px #000;
}

.video-ocean {
  border: 4px solid #10a2da;
  background-color: #10a2da;
  color: #fff;
  text-shadow: 1px 2px 5px #000;
}

.card-video h1 {
  margin-top: 3%;
  margin-left: 3%;
  height: 50px;
}
.card-video img {
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

button.more-episodes {
  cursor: pointer;
  text-decoration: none;
  border: solid #fff;
  box-shadow: #000 1px 1px 2px;
  border-radius: 7px;
  line-height: 1;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  background-color: transparent;
  padding: 0.3rem 0.9rem;
}

.play {
  font-size: 5em;
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  color: #fff;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  overflow: hidden;
}

.slideshow-container .play {
  top: 40%;
}

.play:hover {
  opacity: 0.8;
  cursor: pointer;
}

.more-episodes {
  position: absolute;
  right: 5%;
  bottom: 2.5%;
}

@media only screen and (min-width: 1em) and (max-width: 40em) {
  .space-holder {
    height: 150px;
  }
  .space-holder i {
    font-size: 2em;
    color: #fff;
    text-shadow: 3px 3px 10px #777;
  }

  .space-holder > div {
    padding: 1em;
  }
  .slideshow-container {
    width: 100%;
  }

  .mySlides img {
    height: 300px;
  }

  .prev,
  .next {
    top: 50%;
    margin-top: -6%;
    padding: 2%;
    font-size: 2em;
  }

  .episodes-container {
    font-size: 0.8em;
  }
  .video-hidden {
    display: none;
  }

  .text {
    font-size: 3em;
    padding: 8px 12px;
    bottom: 15%;
  }
}

@media only screen and (min-width: 40.001em) and (max-width: 59.999em) {
  .space-holder {
    height: 150px;
  }
  .space-holder i {
    font-size: 3em;
    color: #fff;
    text-shadow: 3px 3px 10px #777;
  }

  .space-holder > div {
    padding: 1em;
  }

  .slideshow-container {
    width: 100%;
  }

  .mySlides img {
    height: 400px;
  }

  .prev,
  .next {
    top: 50%;
    margin-top: -6%;
    padding: 2%;
    font-size: 2em;
  }

  .episodes-container {
    font-size: 0.8em;
  }

  .video-hidden {
    display: block;
  }

  .text {
    font-size: 3em;
    padding: 8px 12px;
    bottom: 15%;
  }
}

@media only screen and (min-width: 60em) {
  .heading {
    height: 35vh;
  }
  .space-holder {
    height: 200px;
    border-bottom: 2px solid #000;
  }

  .space-holder i {
    font-size: 5em;
    color: #fff;
    text-shadow: 3px 3px 10px #777;
    padding: 0.4em;
  }

  .slideshow-container {
    margin-top: 2%;
    max-width: 70%;
  }

  .mySlides img {
    height: auto;
  }

  .text {
    letter-spacing: 1em;
    font-size: 5em;
  }

  .prev,
  .next {
    top: 50%;
    margin-top: -6%;
    padding: 2%;
    font-size: 2em;
  }

  .episodes-container {
    font-size: 0.8em;
  }

  .video-hidden {
    display: block;
  }

  .text {
    font-size: 3em;
    padding: 8px 12px;
    bottom: 15%;
  }
}
