@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Poppins|Roboto+Mono");
html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  background-color: #439539;
  background-image: none;
}

.heading {
  position: relative;
  text-align: center;
}

.welcoming-panel {
  background-color: #439539;
  height: 40vh;
  width: 100%;
  font-family: "Alfa Slab One", cursive;
}

.heading h1 {
  position: relative;
  color: #fff;
}

.heading p {
  position: relative;
  top: 30%;
  color: #fff;
}

.faq-body {
  font-family: "Poppins", sans-serif;
  display: flex;
}

.accordion {
  background-color: #eee;
  color: #000;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.6s;
  font-weight: bold;
  border-bottom: 0.2px solid #aaa;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.icons-group {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.icons-group > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}

.icons-group i {
  color: #000;
  background-color: #fed700;
}

.faq-parents__heading,
.faq-kids__heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.faq-parents__heading i,
.faq-kids__heading i {
  font-size: 2em;
  margin-left: 4%;
  color: #fed700;
}

.faq-body {
  display: flex;
}

@media only screen and (min-width: 1em) and (max-width: 40em) {
  .heading h1 {
    top: 30%;
    font-size: 2.5em;
  }

  .heading p {
    font-size: 1.5em;
  }

  .accordion {
    padding: 2.5%;
    font-size: 0.9em;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
  }
  .icons-group {
    padding: 3%;
  }

  .icons-group > div {
    font-size: 1.5em;
    padding: 2%;
  }

  .icons-group i {
    clip-path: circle(40% at 50% 50%);
    font-size: 1.7em;
    padding: 1em;
    margin: 2%;
  }

  .faq-body {
    flex-flow: column nowrap;
  }
}

@media only screen and (min-width: 40.001em) and (max-width: 59.999em) {
  .heading h1 {
    top: 30%;
    font-size: 3em;
  }

  .heading p {
    font-size: 1.9em;
  }

  .accordion {
    padding: 2.5%;
    font-size: 1em;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
  }
  .icons-group {
    padding: 3%;
  }

  .icons-group > div {
    font-size: 1.5em;
    padding: 2%;
  }

  .icons-group i {
    clip-path: circle(40% at 50% 50%);
    font-size: 1.7em;
    padding: 1em;
    margin: 2%;
  }

  .faq-body {
    flex-flow: column nowrap;
  }
}

@media only screen and (min-width: 60em) {
  .heading h1 {
    top: 30%;
    font-size: 3em;
  }

  .heading p {
    font-size: 1.9em;
  }

  .accordion {
    padding: 2%;
    font-size: 1em;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 3%;
  }
  .icons-group {
    padding: 1%;
  }

  .icons-group > div {
    font-size: 1.5em;
    padding: 2%;
  }

  .icons-group i {
    clip-path: circle(40% at 50% 50%);
    font-size: 2.7em;
    padding: 1em;
    margin: 1%;
  }

  .faq-body {
    flex-direction: row;
  }
}
