@media only screen and (min-width: 1em) and (max-width: 40em) {
  .wrapper {
    width: 94%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* BODY - CARDS */
  .main-display__card {
    height: 300px;
  }

  .main-display__card:nth-child(1) {
    margin-top: 20%;
  }

  /* FOOTER */

  .main-footer {
    width: 100%;
    max-width: 690px;
    min-width: 200px;
    width: 94%;
    margin: 3% auto;
  }

  .main-footer__nav-item a {
    font-weight: 400;
    font-family: "Monda", sans-serif;
  }

  .main-footer__nav li {
    padding: 0;
  }

  .main-footer__logo {
    height: 5em;
    width: 5em;
  }

  .main-footer__nav li:nth-child(2) {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .link-foot {
    margin-right: 3em;
  }

  .main-footer__nav-item a {
    text-decoration: underline;
  }

  .main-footer-title {
    margin-bottom: 2em;
  }

  .refer p {
    text-align: left;
    display: block;
    font-size: 0.8em;
  }

  .refer {
    left: 20px;
    bottom: 5px;
    position: relative;
  }

  form {
    width: 60%;
  }
}
