@media only screen and (min-width: 40.001em) and (max-width: 59.999em) {
  body {
    overflow-x: hidden;
  }

  /* CONTENT */

  .wrapper {
    width: 95%;
    margin: 10% auto 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container > section {
    flex: 0 46%;
    height: 300px;
    min-width: auto;
  }

  section:nth-child(3) .main-display__headline {
    background: #71ba01 !important;
  }

  .main-display__card:nth-child(3) {
    border: 5px #71ba01 solid !important;
  }

  section:nth-child(4) .main-display__headline {
    background: #946db0 !important;
  }

  .main-display__card:nth-child(4) {
    border: 5px #946db0 solid !important;
  }

  footer {
    grid-column: 1/5;
    margin-top: 3em;
  }

  .separator {
    display: none;
  }
  .container-footer {
    width: 100%;
  }

  .main-footer {
    background: #fed700;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
    justify-content: center;
    align-items: baseline;
    background-image: url("./image/brilliant.png");
  }

  .main-footer-title {
    width: 100%;
    text-align: center;
  }

  .main-footer__logo {
    background-image: url("./image/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    left: 1.5em;
    height: 5em;
    width: 10em;
  }

  .main-footer-title p {
    padding-top: 1em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .main-footer h3 {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .main-footer__social {
    margin-bottom: 0;
    font-size: 2.5em;
    text-align: center;
  }

  .main-footer nav {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .main-footer__nav {
    width: inherit;
    margin-top: 2%;
    padding-left: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .main-footer nav li {
    display: inline;
    margin-left: 2em;
    margin-right: 2em;
  }

  .main-footer__nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: navy;
  }

  .refer {
    margin-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    font-size: small;
  }

  .main-footer__info {
    display: inline;
  }

  .main-footer__info-web {
    display: inline;
  }
  /* FOOTER */

  /* .main-footer{
  width: 91%;
  margin: 3% auto 0;
}

.container-footer p{
  position: relative;
  top: -100px; 

}




.container-footer h3{
  position: relative;
  top: -70px;
  margin-bottom: 0;

}


.main-footer__nav-item a {
  text-decoration: underline;

}


.container-footer nav{
  position: relative;
  top: -30px;
}
.main-footer__social{
margin-bottom: 1%;
position: relative;
top: -50px;
}

.separator{
  display: none;
}

.refer{
  position: relative;
  top: 90px;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}

.refer p{
  display: inline;
  font-size: 0.9em;
} */
}
