@import url("https://fonts.googleapis.com/css?family=Audiowide");

html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  background-image: none;
  background-color: #000;
}

section {
  width: 100%;
}
.welcome-headline {
  background-image: url("./image/space.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.welcome-headline .overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome-headline h1 {
  font-family: Audiowide, sans-serif;
  position: relative;
  text-align: center;
  color: #fff;
}

article {
  height: 100%;
}

.section-title {
  width: 100%;
  margin-bottom: 3%;
}

.section-title p {
  font-family: Audiowide, Verdana, "Helvetica Neue";
  margin: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 12px #000;
}

.section-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section-body img {
  width: 100%;
  max-width: 100%;
  height: 200px;
}

.topic {
  box-shadow: 0 4px 8px 0 #00000086;
  text-align: center;
  font-family: arial;
  background-color: #fff;
  border-radius: 20px;
}

.topic p {
  text-align: justify;
}

.topic button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #fff;
  background-color: #013c65;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 1.2em;
}

.topic button:hover {
  opacity: 0.7;
}

.space {
  background-image: url("./image/topics-bg.jpg");
  background-attachment: fixed;
}

.title-space {
  background-color: #013c65;
}

.insects {
  background-image: url("./image/insects-bg.jpeg");
  /* background-color: #000; */
  background-attachment: fixed;
}

.title-insects {
  background-color: #439539;
}

.ocean {
  background-image: url("./image/ocean-gb.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-ocean {
  background-color: #008bc0;
}

.topic img {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    100% 87%,
    76% 100%,
    48% 88%,
    0 88%
  );
}

.main-footer {
  margin: 0;
  border-radius: 0px;
  width: 100%;
}

@media only screen and (min-width: 1em) and (max-width: 40em) {
  .welcome-headline h1 {
    width: 100%;
    top: 40%;
    font-size: 2em;
  }

  .section-title p {
    padding: 1em;
    font-size: 4em;
  }

  .topic {
    margin: 3% auto;
    max-width: 80%;
  }

  .topic p {
    padding: 1% 6%;
  }
}

@media only screen and (min-width: 40.001em) and (max-width: 59.999em) {
  .welcome-headline h1 {
    width: 100%;
    top: 40%;
    font-size: 3em;
  }

  .section-title p {
    padding: 1em;
    font-size: 4em;
  }

  .topic {
    margin: 3% auto;
    max-width: 350px;
  }

  .topic p {
    padding: 1% 6%;
  }
}

@media only screen and (min-width: 60em) {
  .welcome-headline h1 {
    width: 100%;
    top: 40%;
    font-size: 4em;
  }

  .welcome-headline img {
    /* clip-path: circle(10% at 50% 20%); */
    clip-path: ellipse(30% 15% at 50% 50%);
    position: absolute;
    top: 50%;
    height: 35%;
    max-width: 100%;
    min-width: 100%;
    opacity: 0.7;
  }

  .section-title p {
    padding: 1em;
    font-size: 4em;
  }

  .topic {
    margin: 3% auto;
    max-width: 400px;
  }

  .topic p {
    padding: 1% 6%;
  }

  .section-body img {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
}
